.root {
  width: 30vw;
  height: 40vh;
  background-color: green;
  .title {
    text-align: center;
    font-weight: bold;
  }
  .wrapper {
    display: flex;
    align-items: center;
    .forecast {
      display: flex;
      align-items: center;
      .icon {
        img {
          height: 40px;
        }
      }
    }
  }
}
