.root {
  width: 30vw;
  height: 40vh;
  background-color: red;
  .time {
    color: orange;
    font-size: 12px;
    font-weight: bold;
  }
  .time > p {
    margin: 0;
  }
  .place {
    color: black;
    font-size: 24px;
  }
}
